


/* Media Queries for Tablet */
@media (max-width: 1024px) {
    .containerrow {
        width: 90vw; /* Adjusted for better fitting in tablet screens */
        margin-left: 0; /* Centering the container properly */
    }

    .button {
        width: 50%; /* Increasing button width for better accessibility */
        font-size: 1.1rem; /* Slightly smaller font size */
    }
}

/* Media Queries for Mobile */
@media (max-width: 640px) {
    .containerrow {
        width: 95vw; /* Adjusted for better fitting in mobile screens */
        height: auto; /* Auto height for better flexibility */
    }

    .input {
        font-size: 14px; /* Smaller font size for better fitting */
    }

    .button {
        width: 70%; /* Making the button wider on smaller screens */
        font-size: 1rem; /* Even smaller font size */
    }
}